body {
    padding: 0;
    margin: 0;
}

@keyframes PaperIframe {
    0% {
        opacity: 0.1;
        box-shadow: 3px 5px 0px 0.1px rgba(0, 0, 0, 0.8);
        margin-left: -100%;
    }
    50% {
        opacity: 0.3;
        box-shadow: 3px 5px 5px 0.1px rgba(0, 0, 0, 0.8);
        margin-left: 5rem;
    }
    75% {
        margin-left: -0.5rem;
        opacity: 0.8;
    }
    100% {
        opacity: 1;
        margin-left: 0;
        box-shadow: 3px 5px 12px 0.1px rgba(0, 0, 0, 0.8);
    }
}

@keyframes SelectIn {
    0% {
        margin-left: -20rem;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes inputIn {
    0% {
        margin-left: -22rem;
    }
    100% {
        margin-left: 0;
    }
}

@media screen and (max-width: 600px) {
    .paper {
        padding: 0.1rem !important;
    }
    .paper iframe {
        margin-top: 2px !important;
        width: 98% !important;
        min-height: 20rem;
    }
    .select {
        width: 60% !important;
    }
    .input {
        width: 60% !important;
    }
}


/*@media screen and (min-width: 600px) {*/

.paper {
    padding: 0.5em;
    text-align: center;
}

.paper iframe {
    margin-top: 1rem;
    width: 80%;
    max-height: 50rem;
    min-height: 30rem;
    box-shadow: 3px 5px 12px 0.1px rgba(0, 0, 0, 0.8);
    animation: PaperIframe 2.5s;
    background-color: rgba(200, 200, 250, 0.1);
}

.select {
    margin-top: 1rem;
    width: 45%;
    animation: SelectIn 1.5s;
}

.input {
    margin-top: 0.5rem !important;
    width: 45%;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation: inputIn 2s;
}

.playButton {
    margin-top: 0.4rem !important;
    width: 25% !important;
}


/*}*/